{% load mathfilters %}
<div id="market" class="market">

    <h2>{{ currency.name }} Markets</h2>
    <div class="the-table-place -scrollbar">
        <table class="the-table">
            <thead>
                <tr>
                    <th class="left">#</th>
                    <th class="left">Exchange</th>
                    <th>Pair</th>
                    <th>Price</th>
                    <th>Volume (24h)</th>
                    <th>Volume %</th>
                    <th>Liquidity Score</th>
                    <th>Last updated</th>
                    <th>Date added</th>
                </tr>
            </thead>
            <tbody>
                {% for pair in currency.pair.all %}
                    <tr>
                        <th class="left">{{ forloop.counter }}</th>
                        <th class="left">{{ pair.exchange_name }}</th>
                        <th>{% if pair.dexer_url %}<a href="{{ pair.dexer_url }}" target="_blank">{% endif %} {{ pair.market_pair }}{% if pair.dexer_url %}</a>{% endif %}</th>
                        <th>{{ pair.price }}</th>
                        <th>{{ pair.volume_usd|div:1000|floatformat:3 }}</th>
                        <th>{{ pair.volume_percent|floatformat:2 }}</th>
                        <th>{{ pair.effective_liquidity|floatformat:0 }}</th>
                        <th>{{ pair.date_updated }}</th>
                        <th>{{ pair.date_added }}</th>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>