{% load mathfilters %}
<div id="market" class="market">

    <h2>{{ currency.name }} Markets</h2>
    <div class="the-table-place -scrollbar">
        <table class="the-table">
            <thead>
                <tr>
                    <th class="left">#</th>
                    <th class="left">Exchange</th>
                    <th>Pair</th>
                    <th>Price</th>
                    <th>Volume (24h)</th>
                    <th>Confidence</th>
                    <th>Liquidity Score</th>
                    <th>Last updated</th>
                </tr>
            </thead>
            <tbody>
                {% for pair in currency.get_latest_pair %}
                    <tr {% if not pair.is_verified %}class="unverified"{% endif %}>
                        <th class="left">{{ forloop.counter }}</th>
                        <th class="left">{{ pair.exchange_name }}</th>
                        <th>{% if pair.dexer_url %}<a href="{{ pair.dexer_url }}" target="_blank">{% endif %} {{ pair.market_pair }}{% if pair.dexer_url %}</a>{% endif %}</th>
                        <th>{{ pair.price|floatformat:3 }}</th>
                        <th>{{ pair.volume_usd|div:1000|floatformat:3 }}</th>
                        <th>
                            {% if pair.market_reputation %}
                                {% if pair.market_reputation >= 76 %}<div class="confidence high">High</div>
                                    {% else %}
                                    {% if pair.market_reputation >= 51 %}<div class="confidence moderate">Moderate</div>{% else %}<div class="confidence low">Low</div>{% endif %}
                                {% endif %}
                            {% else %}
                                <div class="confidence na">N/A</div>
                            {% endif %}
                        </th>
                        <th>{{ pair.effective_liquidity|floatformat:0 }}</th>
                        <th>{{ pair.date_updated }}</th>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>