{% if urls %}
    <div class="list">
        <h3>{{ list_caption }}</h3>
        <ul>
            {% for url in urls %}
                <li>
                    <a target="_blank" href="{{ url.url }}{{ url.report_url }}" class="faviconLink">
                        <div class="favicon" style="background: url('https://www.google.com/s2/favicons?domain={{ url.url }}{{ url.report_url }}') no-repeat;"></div>
                        {{ url.type }}{{ url.auditor }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endif %}

