
body {
    padding: 0;
    margin: 0;
    /*min-height: 3000px;*/
}

h1,h2,h3,h4,h5,h6 {
    text-align: center;
    color: #0D1422;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    margin-bottom: 20px;
    height: 50px;
    width: 100%;
    border-bottom: 1px #000000 solid;

    .auth{
        padding: 0 10px;
    }
    .auth a {
        text-decoration: none;
        padding: 5px 10px;
        border-radius: 10px;
        border: 1px transparent solid;
    }
    .auth a:hover {
        border: 1px #000000 solid;
    }
}
.currency-dashboard-place {
    background-color: #f1f1f1;
    margin: 10px auto;
    overflow-y: scroll;
    max-width: max-content;
    font-family: Inter,-apple-system,BlinkMacSystemFont,segoe ui,Roboto,Helvetica,Arial,sans-serif;


    .logo {
        border-radius: 100%;
        max-width: 30px;
        align-items: center;
        margin: 0 10px 0 0;
    }
    .currency-dashboard {
        border-collapse: separate;
        border-spacing: 0;

    }

    .currency-dashboard tbody tr th,
    .currency-dashboard tbody tr th.left{
       border-right: 1px transparent solid;

    }
    .currency-dashboard tbody tr:hover,
    .currency-dashboard tbody tr:hover th.left{
       background-color: #bbd5dc;
    }
    .currency-dashboard tbody tr:hover th,
    .currency-dashboard tbody tr:hover th.left{
       border-right: 1px #88a5ac solid;
    }


    .currency-dashboard tr th {
        padding: 5px 8px;
        border-bottom: 1px #0000003d solid;
        text-decoration: none;
        font-weight:normal;
        .caption {
            display: flex;
            flex-direction: row;
            align-items: center;

            .symbol {
                padding: 0 5px;
                color: gray;
            }
        }
    }
    .currency-dashboard tbody tr:last-child th {
        border-bottom: 1px transparent solid;
    }
    .currency-dashboard tr th.left {
        background-color: #dddddd;
        left: 0;
        position: sticky;
        font-weight: bold;
        padding: 5px 5px;
    }
}

form.auth {
    /* background-color: red; */
    max-width: min(100%, 350px);
    margin: 0 auto;
}
form.auth p {
    display: flex;
    flex-direction: column;

    .helptext {
        margin: 10px 0;
    }
    .helptext:empty {
        margin: 0;
    }
}
form.auth label {
    font-size: 20px;
    font-weight: bold;
}
form.auth ul {
    margin: 0;
    padding: 0 0 0 25px;
}
form.auth ul li{
    margin: 5px 0;
}
form.auth input[type="submit"]{
    width: 100%;
    padding: 5px;
}


.tags {
    width: max-content;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tags ul {
    padding: 0 0 0 25px;
    margin: 0;
}

#candlestickChart {
    border-radius: 14px;
    border: 2px #f1f1f1 solid;
    padding: 6px;
    width: 980px;
    margin: 0 auto;

    .header {
        display: flex;

        .periods {
            display: flex;
            flex-direction: row;
            border-radius: 7px;
            /*background-color: #f1f1f1;*/
            padding: 3px 1px;
        }
        .periods a,
        .periods .item{
            text-decoration: none;
            padding: 2px;
            margin: 0 2px;
            border-radius: 5px;
            border: 2px #d6dcde solid;
            color: #676767;
            transition: 0.2s;
            -webkit-user-select: none; /* Safari */
            -moz-user-select: none; /* Firefox */
            -ms-user-select: none; /* IE10+/Edge */
            user-select: none; /* Standard */
        }
        .periods .items {
            display: flex;
            flex-direction: row;
            margin-left: 30px;
        }

        .periods a.active,
        .periods .item.active{
            border-color: #888;
            color: #4a4a4a;
            font-weight:bold;
        }
        .periods a:hover {
            border-color: #000000;
            color: #000000;
        }
        .periods .item.active {
            border-color: #ffa500;
            color: #ffa500;
        }
        .periods .item:hover {
            color: #ffa500;
        }
        .periods .item.active:hover {
            color: black;
        }
    }
}
main {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
main aside {
    margin-right: 40px;
    max-width: 400px;

    .list {
        /* background-color: red; */
        width: 100%;
        border: 2px #f1f1f1 solid;
        border-radius: 10px;
        margin-bottom: 5px;
        padding: 2px 2px 10px 2px;

    }
    .list ul {
        padding: 0 0 0 8px;
        display: flex;
        align-items: flex-start;
        align-content: flex-start;
        flex-wrap: nowrap;
        flex-direction: column;
        margin: 0;
    }
    .list ul li{
        padding: 0;
        text-transform: capitalize;
        list-style: none;
    }
    .list ul li a{
        color: black;
        text-decoration: none;
    }
    .list ul li a.faviconLink{
        display: flex;
        flex-direction: row;
    }
    .list ul li a.faviconLink .favicon{
        background-size: cover;
        width: 20px;
        height: 20px;
        margin-right: 5px;
    }

}
main aside h1{
    display: flex;
    flex-direction: column;
}
main aside h1 a{
    text-decoration: none;
    padding: 0;
    margin: 0;
    color: #0D1422;

}
main aside h1 .symbol{
    font-size: 16px;
    padding: 0;
    margin: 0;
    color: #616E85;
}
.feed {
    width: min-content;
}
.about {
    font-family: Inter,-apple-system,BlinkMacSystemFont,segoe ui,Roboto,Helvetica,Arial,sans-serif;
    color: #58667e;
}
footer {
    margin-top: 150px;
}